<nav class="navpages" style="width: 100%;">
  <div class=" container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <ul>
      <a class="navbar-brand" href="index.html"><img src="images/logolucas.png" alt="" style="height: 70px;"></a>
      <li>
        <a href="index.html" class="liens">Home</a>
      </li>
      <li>
        <a href="actu.html" class="liens">News</a>
      </li>
      <li>
        <a href="contact.html" class="liens">Contact</a>
      </li>
      <li>
        <a href="https://www.facebook.com/Lucas-Gerona-220375468520936/" target="_blank"><i class="fa fa-facebook fa-2x footericon3" aria-hidden="true"></i>
      </li>
      <li>
        <a href="https://www.instagram.com/lucasgerona/" target="_blank"><i class="fa fa-instagram fa-2x footericon2" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div><!-- /.container-fluid -->
</nav>

<nav class="choosenav navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="index.html" class="liens">Home</a>
        </li>
        <li>
          <a href="tracks.html" class="liens">Tracks</a>
        </li>
        <li>
          <a href="contact.html" class="liens">Contact</a>
        </li>
        <li>
          <a href="actu.html" class="liens">News</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>
