<div class="content-actu-dj">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <h1 id="titre-actu-dj">My lasts events</h1>
          <div class="card-itmes">
            <div class="photo">
              <%=image_tag 'lucas.jpg'%>
            </div>
            <div class="content">
              <br>
              <p class="taille-dj">
                Date
              </p>
              <p class="taille-dj">
                title
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
