<body  id="contact">
  <section>
    <div class="section-content">
      <h1 class="section-header">Me Contacter</h1>
    </div>
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div id="wufoo-s1r2ps6t0ngb2hq">
  Fill out my <a href="https://wako94.wufoo.com/forms/s1r2ps6t0ngb2hq">online form</a>.
  </div>
  <div id="wuf-adv" style="font-family:inherit;font-size: small;color:white;text-align:center;display:block;"></div>
  <script type="text/javascript">var s1r2ps6t0ngb2hq;(function(d, t) {
  var s = d.createElement(t), options = {
  'userName':'wako94',
  'formHash':'s1r2ps6t0ngb2hq',
  'autoResize':true,
  'height':'554',
  'async':true,
  'host':'wufoo.com',
  'header':'show',
  'ssl':true};
  s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
  s.onload = s.onreadystatechange = function() {
  var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
  try { s1r2ps6t0ngb2hq = new WufooForm();s1r2ps6t0ngb2hq.initialize(options);s1r2ps6t0ngb2hq.display(); } catch (e) {}};
  var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
  })(document, 'script');</script>
    </div>
  </section>
<footer class="container">
  <div class="">

  </div>
  <div class="row">
    <span class="col-xs-4 info">
      <i class="fa fa-phone" aria-hidden="true"></i> <p class="inlineinfo">06.68.69.69.58</p>
      <br>
      <i class="fa fa-home" aria-hidden="true"></i> <p class="inlineinfo">Lille 59000</p>
      <br>
      <i class="fa fa-envelope-o" aria-hidden="true"></i> <p class="inlineinfo">email@domaine.com</p>
      <br>
      <i class="fa fa-globe" aria-hidden="true"></i> <a href="http://emergence-lfe.org/" target="_blank">emergence-lfe</a>

    </span>
    <span class="col-xs-8 col-sm-12">
      <a href="#"> <i class="fa fa-facebook-official fa-3x footericon" aria-hidden="true"></i>
      <a href="#"><i class="fa fa-instagram fa-3x footericon" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-youtube-square fa-3x footericon" aria-hidden="true"></i></a>
    </span>
  </div>


</footer>
</body>
