<body  id="contact">
  <section>
    <div class="section-content">
      <h1 class="section-header">Me Contacter</h1>
      <h3>You can contact me with this form</h3>
    </div>
    <div class="container">
      <form>
        <div class="col-xs-12 col-md-6 ">
            <div class="form-group">
              <label for="exampleInputUsername">Name</label>
              <input type="text" class="form-control" id="" placeholder="Name* ">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail">Mail</label>
              <input type="email" class="form-control" id="exampleInputEmail" placeholder=" Email* ">
            </div>
            <div class="form-group">
              <label for="telephone">Phone number</label>
              <input type="tel" class="form-control" id="telephone" placeholder="Phone Number*">
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label for ="description">Message</label>
              <textarea  class="form-control" id="description" placeholder="message*"></textarea>
            </div>
            <div>
              <button type="button" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>Send</button>
            </div>
        </div>
      </form>
    </div>
  </section>
<hr class="footerseparation">
<footer class="container">
  <div class="">

  </div>
  <div class="row">
    <span class="col-xs-4 info">
      <i class="fa fa-phone" aria-hidden="true"></i> <p class="inlineinfo">06.68.69.69.58</p>
      <br>
      <i class="fa fa-home" aria-hidden="true"></i> <p class="inlineinfo">Lille 59000</p>
      <br>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>  <p class="inlineinfo">email@domaine.com</p>

    </span>
    <span class="col-xs-8 col-sm-12">
      <a href="#"> <i class="fa fa-facebook-official fa-3x footericon" aria-hidden="true"></i>
      <a href="#"><i class="fa fa-instagram fa-3x footericon" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-youtube-square fa-3x footericon" aria-hidden="true"></i></a>
    </span>
  </div>


</footer>
</body>
